<form action="">
  <label for="name">Nombre</label>
  <input type="text" (input)="()" />
  <label for="lastname">Apellido</label>
  <input type="text" />
  <label for="age">Edad</label>
  <input type="number" />
  <button (click)="agregar($event)">Agregar</button>
</form>

<h3>Lista de nombres incluidos</h3>

<hr />
<ul *ngIf="users.length > 0; else noAgregado">
  <li *ngFor="let user of users; let i = index">
    {{ i + 1 }} {{ user.name }} - {{ user.lastName }} - {{ user.age }}
  </li>
</ul>

<ng-template #noAgregado>
  <h3>No se ha agregado nada</h3>
</ng-template>
