<form action="">
  <label for="name">Nombre</label>
  <input type="text" name="name" [(ngModel)]="users.name" />
  <label for="lastname">Apellido</label>
  <input type="text" name="lastName" [(ngModel)]="users.lastName" />
  <label for="age">Edad</label>
  <input type="number" name="age" [(ngModel)]="users.age" />
  <button (click)="agregar($event)">Agregar</button>
</form>

<h3>Lista de nombres incluidos</h3>

<hr />
<ul *ngIf="people.length > 0; else noAgregado">
  <li *ngFor="let person of people; let i = index">
    {{ i + 1 }} {{ person.name }} - {{ person.lastName }} - {{ person.age }}
  </li>
</ul>

<ng-template #noAgregado>
  <h3>No se ha agregado nada</h3>
</ng-template>
